<html><head>
        <title>Bugs | μProject</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="issues.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="navbar navbar-default navbar-static-top navbar-color">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="fa fa-send">&nbsp;μProject</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="fa fa-bolt">&nbsp;</span>Queued</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-comments">&nbsp;</span>ChatNow</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-bug">&nbsp;</span>Bugs</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Hi, David <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Settings</a>
                                </li>
                                <li>
                                    <a href="#">Help <span class="fa fa-question-circle pull-right"></span></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">Log out <span class="fa fa-sign-out pull-right"></span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9 list-group">
                                      <a class="list-group-item" href="#">
                                        <span class="pull-left fa fa-ticket">&nbsp;</span>
                                        <h4 class="list-group-item-heading">Unexpected EOF when reading user table</h4>
                                        <p class="list-group-item-text">#121 opened by John Smith</p></a>
                                      <a class="list-group-item" href="#">
                                        <h4 class="list-group-item-heading">List group item heading</h4>
                                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p></a>
                                      <a class="list-group-item" href="#">
                                        <h4 class="list-group-item-heading">List group item heading</h4>
                                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p></a>
                                    </div>
                                    <div class="col-md-3">
                                      <a href="#" class="btn btn-info btn-default btn-block" role="button"><span class="fa fa-plus">&nbsp;</span>Create Issue</a>
                                      <br>
                                        <div class="alert alert-info" role="alert">
                                            Guidelines for submitting an issue and appropriate reporting format are available in the help section.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-black ">
            <div class="container ">
                <div class="row ">
                    <div class="col-sm-6 ">
                        <a><img src="i/bu-logo.gif" class="img-responsive" alt="Boston University"></a>
                        <br>
                        <p class="text-inverse "></p>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="text-info">This application is a project of One Team, CS 673.</p>
                    </div>
                </div>
            </div>
        </footer>

</body></html>
