<html><head>
        <title>μProject</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="homepage.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="fa fa-send">&nbsp;μProject</span></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Register</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#activity">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cover">
            <div class="cover-image cover" style="background-image: url('i/chalk.jpg')"></div>
            <!-- PHOTO Credit: lorelinde http://lorelinde.deviantart.com/art/Chalkboard-534238727 -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-inverse">
                        <h1 class="">μProject</h1>
                        <h3 class="hidden-xs">A tiny project management service.<br><br>
                          <div class="text-left">
                            <span class="fa fa-bolt">&nbsp;Agile Project Management</span><br>
                            <span class="fa fa-comments">&nbsp;Chat Rooms</span><br>
                            <span class="fa fa-bug">&nbsp;Issue Tracking</span>
                          </div>
                        </h3>
                        <br>
                        <br>
                        <div class="btn-toolbar">
                            <a class="btn btn-lg btn-primary">Register</a>
                            <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#activity">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-black ">
            <div class="container ">
                <div class="row ">
                    <div class="col-sm-6 ">
                        <img src="i/bu-logo.gif" class="img-responsive">
                        <br>
                        <p class="text-inverse "></p>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="text-info">This application is a project of One Team, CS 673.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Modal -->
        <div class="modal fade" id="activity" tabindex="-1" role="dialog" aria-labelledby="activity">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title form-signin-heading">Welcome Back! Please Sign In</h3>
                        <hr class="colorgraph">
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" name="Login_Form" class="form-signin">


                            <br>
                            <div style="margin-bottom:10px" class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" name="Username" placeholder="email" required="" autofocus="">
                                    </div>
                             <div style="margin-bottom:10px" class="input-group">
                              <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                              <input type="password" class="form-control" name="Password" placeholder="password" required="">
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Sign In" type="Submit">Sign In</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#">Forgot password?</a>&nbsp;&nbsp;
                        <!-- <a href="#" class="btn btn-primary">Register</a> -->
                    </div>
                </div>
            </div>
        </div>


</body></html>
