<div class="section">
  <div class="container">
    <div class="row">
      <div class="list-group col-md-9">
      <form method="post" action="/requirements/add">
          <table class="table table-condensed">
              <tbody>
              <tr>
                  <th>Project Name:</th>
                  <td><input type="text" name="project_name" required
                             placeholder="Name"></td>
              </tr>
              <tr>
                  <th>Project Description:</th>
                  <td><input type="text" name="project_description" required
                             placeholder="Description"></td>
              </tr>
              </tbody>
              <tfooter>
                  <tr>
                      <td></td>
                      <td>
                          <input type="submit" value="Save"
                                 class="btn btn-success">
                          <input type="button" value="Cancel"
                                 class="btn btn-danger" onclick="cancelAdd()">
                      </td>
                  </tr>
              </tfooter>
          </table>
      </form>
      </div>
    </div>
  </div>
</div>
