<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <textarea name="text" id="createIssue" placeholder="Description of issue"></textarea>
      </div>
    </div>
  </div>
</div>

<script>
$('#createIssue').markdownEditor({
  // Activate the preview:
  preview: true,
  fullscreen: false,
  onPreview: function (content, callback) {
    $.ajax({
      url: '/bugs/preview',
      type: 'POST',
      dataType: 'html',
      data: {content: content},
    })
    .done(function(result) {
      // Return the html:
      callback(result);
    });

  }
});
</script>
