<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Open Issues</h3>
            </div>
            <table id="table"
                data-toggle="table"
                data-flat="true"
                data-search="true"
                data-show-columns="true"
                data-show-multi-sort="true"
                data-sort-priority='[{"sortName": "Id","sortOrder":"desc"},{"sortName":"Priority","sortOrder":"desc"}]'
                data-url="data.json">
                <thead>
                  <tr>
                    <th data-field="Id" data-sortable="true">ID</th>
                    <th data-field="Summary" data-sortable="true">Summary</th>
                    <th data-field="IssueStatus" data-sortable="true">Issue Status</th>
                    <th data-field="Priority" data-sortable="true">Priority</th>
                    <th data-field="Severity" data-sortable="true">Severity</th>
                    <th data-field="Description" data-sortable="true">Description</th>
                    <th data-field="CreatedBy" data-sortable="true">Created</th>
                    <th data-field="LastModifiedBy" data-sortable="true">Last Modified</th>
                  </tr>
                </thead>
              </table>
        </div>
    </div>
    <div>
        <a class="btn btn-success" href="/bugs/bugs-create">Create an Issue</a>
    </div>
</div>
