<style>
footer {display: none;}
</style>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="channelCount">Channels</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <!-- Channels dynamically added to list -->
              <span id="channelList"></span>
              <li role="presentation"><a aria-hidden="true" data-toggle="modal" data-target="#createChannel">Create Channel <i class="fa fa-plus-circle"></i></a></li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="userCount">Private Message</span>
              <span class="caret"></span>
            </button>
            <ul id="userList" class="dropdown-menu">
              <!-- List of users you can message -->
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Search
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Search Box</a></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="chatSection">
            <ul id="messages"></ul>
            <form id="msgForm" action="">
                <textarea id="chatInput" autocomplete="off"></textarea>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for creating a new channel-->
<div class="modal fade" id="createChannel" tabindex="-1" role="dialog" aria-labelledby="createChannelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Channel</h4>
            </div>

            <div class="modal-body">
                <form class="form-inline roomCreation">
                    <div class="form-group">
                        <label for="newChannelName">Channel Name</label>
                        <input  id="newChannelName"
                               type="text" placeholder="Channel Name">
                    </div>

                    <button type="submit" class="btn btn-primary" id="createChannelBtn">Create</button>
                </form>
            </div>

            <div class="modal-footer">
                <p></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
