{{#if user}}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><span class="fa fa-home"></span> Dashboard</h1>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="cover">
    <div class="cover-image cover" style="background-image: url('/images/chalk.jpg')"></div>
    <!-- Photo reused with permission, Credit: lorelinde http://lorelinde.deviantart.com/art/Chalkboard-534238727 -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-inverse">
                <h1 class="">μProject</h1>
                <h3 class="hidden-xs">A tiny project management service.<br><br>
                <div class="media">
                  <div class="media-left">
                    <span class="fa fa-bolt"></span>
                  </div>
                  <div class="media-body">
                    Agile Project Management
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <span class="fa fa-comments"></span>
                  </div>
                  <div class="media-body">
                    Chat Rooms
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <span class="fa fa-bug"></span>
                  </div>
                  <div class="media-body">
                    Issue Tracking
                  </div>
                  </div>
                </h3>
            </div>
            <br><br>
                <div class="btn-toolbar">
                  <a class="btn btn-lg btn-success" href="/auth/github"><span class="fa fa-github">&nbsp;Login with <strong>Github</strong></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
