  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/queued">Queued</a></li>
      <li class="active">Archived Projects</li>
    </ol>
    <div class="row">
      <div class="col-xs-12 ">
        <div class="queued-buttons">
          <a class="btn btn-primary" href="/queued/">View Active Projects</a>
        </div>
      </div>
      <div class="col-xs-12">
        {{#each data}}

        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default queued-panel">
            <a href="/queued/project/{{this.projectId}}">
            <div class="panel-body">
              <h3>{{truncate this.project_name 27}}</h3>
              <p>{{truncate this.Description 55}}</p>
            </div>
            </a>
            <div class="panel-footer queued-footer">
              <a class="btn btn-default" href="/queued/restoreProject/{{this.projectId}}"><span class="fa fa-archive"></span> Restore Project</a>
            </div>
          </div>
        </div>
        {{/each}}
        <div class="col-xs-12">
          <a class="btn btn-primary" href="/queued/">View Active Projects</a>
        </div>
      </div>
    </div>
  </div>
