<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="queued-buttons pull-right">
          <a class="btn btn-success" href="/queued/add"><span class="fa fa-plus"></span> Create Project</a>&nbsp;&nbsp;
          <button class="btn btn-default settings"><span class="fa fa-cog"></span>&nbsp;</button>
        </div>
      </div>
      <div class="col-xs-12">
        {{#each data}}

        <div class="col-sm-6 col-md-4">
          <div class="panel panel-default queued-panel">
            <a href="/queued/project/{{this.projectId}}">
            <div class="panel-body">
              <h3>{{truncate this.project_name 27}}</h3>
              <p>{{this.Description}}</p>
            </div>
            </a>
            <div class="panel-footer hidden">
              <a class="btn btn-default" href="#"><span class="fa fa-pencil"></span> Edit</a>
              <a class="btn btn-default" href="#"><span class="fa fa-archive"></span> Archive</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('.settings').click(function (event) {
    $('.panel-footer').toggleClass('hidden show');
  });
});
</script>
