<div class="section">
  <div class="container">
    <div class="row">
      <div class="list-group col-sm-offset-1 col-sm-8">
      {{#each data}}
        <a class="list-group-item" href="/requirements/project/{{this.projectId}}">
          <h4 class="list-group-item-heading">{{this.project_name}}</h4>
          <p class="list-group-item-text">{{this.Description}}</p>
        </a>
      {{/each}}
      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block" role="button" onClick="addProject();"><span class="fa fa-plus">&nbsp;</span>Create Project</button>
      </div>
    </div>
  </div>
</div>
