<h1>Requirements content here</h1>

<div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Project</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <td> <a href="/requirements/project/{{this.projectId}}">{{this.project_name}}</a>  </td>
                </tr>
            {{/each}}
            </tbody>
            <tfooter>
                <tr><td>
                    <button class="btn btn-primary"
                            onClick="addProject();">Add</button>
                </td></tr>
            </tfooter>
        </table>
    </div>
</div>