<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><span class="fa fa-cogs"></span> Settings</h1>
        <ul class="nav nav-tabs nav-justified">
          <li class="active" role="presentation">
            <a href="#">Home</a>
          </li>
          <li role="presentation">
            <a href="#">Profile</a>
          </li>
          <li role="presentation">
            <a href="#">Messages</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
