/* Set appropriate font sizes */
.md-h1, .md-h2, .md-h3 {
  font-weight: bold;
}
.md-h1 {
  font-size: 1.5em;
}

.md-h2 {
  font-size: 1.3em;
}

.md-h3 {
  font-size: 1.0em;
}

.md-small {
  font-size:0.7em;
}

.md-preview p {
  white-space: pre;
}

.bugs-title {
  border-radius: 4px 4px 0 0;
}

.label-low {
    background-color: #C6C8Ca;
}

.label-medium {
    background-color: #5cb85c;
}

.label-high {
    background-color: #FFD034;
}

.label-urgent {
    background-color: #E7420C;
}
