.queued-buttons {
  padding: 15px;
}
.queued-panel {
  background: #F2F2F2;
}

.queued-panel a:hover {
  text-decoration: none;
}



.panel-body, .panel-footer {
  padding: 10px;
}

.panel-body p {
  color: #000000;
}

h3 {
  margin: 0;
}
