.queued-editable h3 {
  margin: 0;
}

.queued-editable-description {
  text-decoration: none;
  color: #000000;
}

div.list-group {
    max-height: 101%;
    overflow-y: auto;
}

html {
    overflow: auto;
}

/* Scroll bar for Current List */
/* webkit scroll bar width */
#backlog_sortlist::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#backlog_sortlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#backlog_sortlist::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(122, 122, 122, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Scroll bar for Current List */
/* webkit scroll bar width */
#current_sortlist::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#current_sortlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#current_sortlist::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(122, 122, 122, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Scroll bar for Done List */
/* webkit scroll bar width */
#done_sortlist::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#done_sortlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#done_sortlist::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(122, 122, 122, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* Scroll bar for Release List */
/* webkit scroll bar width */
#release_sortlist::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#release_sortlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#release_sortlist::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(122, 122, 122, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    border-bottom: none!important;
}

.queued-title {
  font-size: 1.15em;
  color: #000000;
}

.queued-black {
  color: #000000;
}

.label-low {
    background-color: #C6C8Ca;
}

.label-medium {
    background-color: #5cb85c;
}

.label-high {
    background-color: #FFD034;
}

.label-urgent {
    background-color: #E7420C;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  color: #555555;
  background-color: #dededc;
}

#backlog_sortlist,
#current_sortlist,
#done_sortlist,
#release_sortlist
{
  min-height: 50px;
}
